
<br>
<br>
<div id="wrap-banner">
 
	<center><span><strong><h2>最新版本：水滸历险完整版客戶端（20170730）</h2><br />操作系統：<font color=red>Win10 / Win8 / Win7 / Vista / Win XP</font></strong></span></center>
    <br>
	<div id="free-dlbn">
    <center>
	<div class="dlbn-wt"><font size="5"><b>下載點01：</b></font><a href="https://drive.google.com/file/d/0Bxhb3BWU1_hOcVFORUE3aTN1VXc/" title="下載點01"><img src="img/dlbn_gd.png" alt="信念水滸下載" width="200" height="50" border="0"/></a></div>
    </center>
	</div>
	<br>
	
	<div id="free-dlbn" style="border:5px solid yellowgreen;">
	<center><span><strong><h2><a href="#" title="下載點"><font color=blue>点击下载登入器</a></font></h2></strong></span></center>
	</div>
	
	
</div>

<div class="maincontent" style="padding-top:20px; padding-bottom:10px; *padding-bottom:20px">
<font color =red>  若有遇到任何下載問題可向客服詢問。</font>
</div>


<hr class="hr" />

<div class="supportbn">
	<div class="spbn">
		<a href="#" title="常見問題解答" class="spbn01"></a>
</div>
   
	<div class="spbn-r">
		<a href="#" title="聯系我們" class="spbn04"></a>
	</div>
</div>
