<div id="wrap-banner">
	<div id="imageShow">
<style type="text/css">

.banner_chg2 {
    background: #1ba4e6 url(./img/1.png) center no-repeat;
}
.banner_chg3 {
    background: #1ba4e6 url(./img/4.png) center no-repeat;
}

.banner_qywh {
    background: url(./img/3.png) no-repeat bottom center;
    height:500px;
}


.banner_jhk {
    background: url(./img/4.png) no-repeat bottom center;
    height:500px;
}

.banner_sqzw {
    background: url(./img/2.png) no-repeat bottom center;
    height:500px;
}


.banner_qywxapi{
    background: url(./img/1.png) no-repeat bottom center;
    height: 500px;
}
</style>
    <ul class="imagebg">
<!-- 新的经验值 -->
        <li class="bannerbg" style="opacity: 0; z-index: 1;">
            <a href="#"><div class="banner_qywxapi"></div></a>
        </li>


<!-- 新增任务 -->
        <li class="bannerbg" style="opacity: 0; z-index: 1;">
            <a href="#"><div class="banner_sqzw"></div></a>
        </li>


<!-- 好康不断-->
        <li class="bannerbg" style="opacity: 1; z-index: 100;">
            <a href="#"><div class="banner_qywh"></div></a>
        </li>
<!--全新的登录器 -->
        <li class="bannerbg" style="opacity: 0; z-index: 1;">
            <a href="#"><div class="banner_jhk"></div></a>
        </li>
        

    </ul>
    <div id="scroll_dot">
        <span class="sel"></span>
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
       
    </div>
</div>
</div>

<!-- contents -->
<div class="maincontent">
<script type="text/javascript">

//幻灯片
$(function() {
    var p = 0;
    $("#imageShow li").css({"z-index": 1, "opacity": 0});
    $("#imageShow li").eq(0).css({"z-index": 100, "opacity": 1});
    $("#scroll_dot span").click(function() {
        play($("#scroll_dot span").index(this));
    });
    function play(p) {
        $("#scroll_dot span").eq(p).addClass("sel").siblings().removeClass("sel");
        $("#imageShow li").eq(p).animate({'opacity': 1}, 800).css({'z-index': 100}).siblings().animate({'opacity': 0}, 800).css({'z-index': 1});
    }

    function autoplay() {
        p = (p > $("#scroll_dot span").length - 1) ? 0 : (p + 1);
        play(p);
    }
    var auto = setInterval(function() {
        autoplay(p);
    }, 2000);
    $("#imageShow").mouseover(function() {
        clearInterval(auto);
    });
    $("#imageShow").mouseout (function() {
        auto = setInterval(function() {
            autoplay(p);
        }, 2000);
    });
});

</script>
<script>
function SetWinHeight(obj) 
{ 
var win=obj; 
if (document.getElementById) 
{ 
if (win && !window.opera) 
{ 
if (win.contentDocument && win.contentDocument.body.offsetHeight) 
win.height = win.contentDocument.body.offsetHeight; 
else if(win.Document && win.Document.body.scrollHeight) 
win.height = win.Document.body.scrollHeight; 
} 
} 
} 
</script>
<hr class="hr">
</div>

<div class="works">
	<div class="title">
        <img src="./index_files/tt_blue.jpg" alt="游戏图片" width="6" height="30" class="tt-b"><span>游戏图片</span>
      <div class="gb-more"><a href="#" title="更多活动图片" class="btn-ghost blue">更多</a></div>
    </div>
	<div class="wrap wrap_r hot">
		<div class="pal hot_wrap">
			<div class="hot_d">
				<a href="#">
					<img src="http://a0.att.hudong.com/11/28/01300000046334121394288989623.jpg" class="worksimg">
				</a>
			</div>
			<div class="hot_title">
				<a href="#">
				
					<em>图片名字</em><br>
					<img class="em_auimg" src="./index_files/ico_users.jpg" alt="">
					<em class="em_author">图片说明</em>
				</a>
			</div>
		</div>
		<div class="pal hot_wrap">
			<div class="hot_d">
				<a href="#">
				
					<img src="http://image2.sina.com.cn/gm/o/i/2006-10-19/U780P115T41D109923F757DT20061019185240.jpg" class="worksimg">
				</a>
			</div>
			<div class="hot_title">
				<a href="#">
				
					<em>图片名字</em><br>
					<img class="em_auimg" src="./index_files/ico_users.jpg" alt="">
					<em class="em_author">图片说明</em>
				</a>
			</div>
		</div>
		<div class="pal hot_wrap">
			<div class="hot_d">
				<a href="#">
				
					<img src="http://gameonline.yesky.com/imagelist/2007/086/f1ak8vcoc1uos.jpg" class="worksimg">
				</a>
			</div>
			<div class="hot_title">
				<a href="#">
					
					<em>图片名字</em><br>
					<img class="em_auimg" src="./index_files/ico_users.jpg" alt="">
					<em class="em_author">图片说明</em>
				</a>
			</div>
		</div>
	</div>
</div>