<div id="header" class="ie6misdirection">
	<div class="wrapper">
		
        <div class="logo"><a href="/" title="信念水浒"><img src="./img/logo.png" alt="信念水浒"></a></div>
		
        <div class="mainmenu">
            <ul id="nav" class="nav">
                <li class="li1"><a href="/" title="首页" id="index">首页</a></li>
				
                <li class="li2 menu menu-hover"><a href="?p=login" title="玩家后台" id="login">玩家后台</a></li>
				
				<li class="li1 menu menu-hover"><a href="?p=register" title="账号注册" id="register">账号注册</a></li>
				
                <li class="li1 menu menu-hover"><a href="?p=download" title="游戏下载" id="cooperate">游戏下载</a></li>
                
				<li class="li1 menu menu-hover"><a href="#" title="社区" id="community">社区</a>
                    <ul class="submenu two">
						<li class="decotop"></li>
                        <li class="list"><a href="#" title="FACEBOOK" >FACEBOOK</a></li>
						<li class="list"><a href="#" title="FACEBOOK" >玩家论坛</a></li>
                    	<li class="decobottom"></li>
                    </ul>
                </li>
            </ul>
        </div>
	</div>
</div>