

<div class="page-container">
	<h1 class="LoginTT">註冊賬號</h1>
	<form name="ChangePassword"  class="Login" method="post" action="">

  <input type="text" size="20" name="username" class="username" placeholder="賬號">

  <input type="password" size="20" name="password" class="password" placeholder="密碼"><br><font color='red'>*长度限于8-16</font>

  <input type="password" size="20" name="confirmpw" class="password" placeholder="確認密碼">

  <input type="text" size="20" name="pincode" class="password" placeholder="安全碼"><font color='red'><br>*长度限于6-10（忘记密码时可设定新密码！）</font>
	<input type="submit" name="submit" value="提交" class="LoginSM">
</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

    <script src="./index_files/js/supersized.3.2.7.min.js"></script>
    <script src="./index_files/js/supersized-init.js"></script>
    <script src="./index_files/js/scripts.js"></script>
	<link href="./index_files/css/supersized.css" rel="stylesheet" type="text/css">