@charset "utf-8";
body{font-family: "微软雅黑";background: url("../../img/yx-bg2.jpg") center top no-repeat #e7e7e7; font-size: 14px;*overflow-x: hidden;}
.yx-1240 a{color: #dbcbb0;}.yx-1240 a:hover{color: #e4ae25;}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
  /*清除默认的select选择框样式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
.cs3-xuanzhuan{ transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;}
.cs3-xuanzhuan:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);}
.cs3-fangda{transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;}
.cs3-fangda:hover{ transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2); -o-transform:scale(1.2);-ms-transform:scale(1.2);}


.yx-1240{width: 1240px;margin: 0 auto;position: relative; z-index: 2; }
.yx-box{width: 100%;height: 300px;}
.yx-png{background-image:url("../../img/png.png"/*tpa=http://sg.chinagames.net/images/png.png*/); display:inline-block; vertical-align: middle; text-indent: -9999px;}
.yx-1240 .btn-ser{width: 90px;height: 28px;line-height: 28px;text-align: center; background: #d9c3b9; color: #000; font-size: 14px; display: block;float: left;}
.yx-1240 .btn-ser:hover{background: #fff; color: #000;}
.yx-bottom{padding: 40px 0; text-align: center; background: #000; color: #8e8e8e; line-height: 24px; position: relative; }
.yx-huobg{position: absolute;top: -126px; left: 0; height: 126px;background: url(".\img\huo.jpg"/*tpa=http://sg.chinagames.net/images/huo.jpg*/) top center no-repeat; width:100%;z-index: 1;
}
.yx-bottom a{color: #8e8e8e;}
.yx-input{width: 168px; color: #fff;padding-left: 32px;border: none 0px;height: 35px; line-height: 35px; margin-top: 15px; }
.i-qq{width: 24px;height: 20px;background-position:-205px -76px; }
.i-xl{width: 24px;height: 20px;background-position:-205px -50px; }
.i-rr{width: 24px;height: 20px;background-position:-205px -27px; }
.i-ty{width: 20px;height: 20px;background-position:-205px -3px; }
/*通用标题*/
.yx-title{ height: 42px; line-height: 42px; text-altign: right; padding:0 10px; background: url("../../img/xnpic/alltitle1.png") left top no-repeat;font-size: 0px;}
.yx-title h1,.yx-title2 h1{width: 110px;text-align: center; height: 40px; color: #e4ae25;font-size: 22px; float: left;  }
.yx-title .ico,.yx-title2 .ico,.yx-gdbox .ico{width: 13px;height: 13px;background-position: right top;}
.yx-title2{height: 42px; line-height: 42px; text-align: right; padding:0 10px;}
.yx-gdbox{position: relative; clear: both; height: 30px;}
.yx-gg{background-position: 0 0;}
.yx-hd{background-position: 0 -42px;}
.yx-xs{background-position: 0 -84px;}
.yx-gl{background-position: 0 -126px;}
.yx-zl{background-position: 0 -168px;}
.yx-kf{background-position: 0 -210px;}
.yx-lj{background-position: 0 -252px;}
/*页面框架*/
.sy-imgbox{height: 483px; position: relative; }
.sy-imgbox .navbox{background: url("../../img/tm.png"/*tpa=http://sg.chinagames.net/images/tm.png*/); padding: 10px 30px;position: absolute;right:0;top:0;}
.sy-imgbox .navbox a{margin-right: 10px; color: #fff;}
.sy-imgbox .navbox a:hover{ color: #f90f20;}
.sy-imgbox .sy-toppng{width: 567px;height: 341px; }
.sy-top{height: 320px;overflow:hidden;  padding-bottom: 15px;}
.sy-content{ padding: 20px; }
/*登录模块*/
/*登录模块*/
.gw-NoLogin{width: 360px;padding-top: 100px; height: 230px;  float: left;}
.gw-NoLogin .left {width: 200px;padding-top: 30px;float: left; margin-left: 30px; height: 170px;*margin-left: 10px;*overflow:hidden; }
.gw-NoLogin .left .radiobox{padding-left:40px; color: #fef2ec;}
.gw-NoLogin .zhanghao{  background: url("../../img/dlk.jpg"/*tpa=http://sg.chinagames.net/images/dlk.jpg*/); display: block;}
.gw-NoLogin .mima{  background: url("../../img/dlk.jpg"/*tpa=http://sg.chinagames.net/images/dlk.jpg*/) 0 -35px;display: block;}
.gw-NoLogin select{ color: #fff; padding:0 25px 0 10px; width: 200px;height: 35px;line-height: 35px; margin-top: 15px;
	background: url("../../img/select.jpg"/*tpa=http://sg.chinagames.net/images/select.jpg*/) no-repeat scroll right center #443f3b; border:1px solid #000;}
.gw-NoLogin .right {width: 110px;float: left; margin-left: 20px;height: 170px;*margin-left: 8px;}
.gw-NoLogin .right .play{width: 100px;height: 50px;  margin: 35px 0 10px 0;*text-indent: 0;}
.gw-NoLogin .right .play:hover{ background-position:  0 -50px; }
.gw-NoLogin .right .reg{width: 100px;height: 50px;background-position:-100px 0;*text-indent: 0; }
.gw-NoLogin .right .reg:hover{background-position:-100px -50px; }
.gw-NoLogin .right .forget{font-size: 12px; color: red;}
.gw-NoLogin .bottom{clear: both; width: 100%;padding: 20px 0 0 30px;_height:50px;}
.gw-NoLogin .lablebox{width: 100%;clear: both;height: 24px;display: block;}

.gw-Login{width: 320px;padding: 80px 20px 0 20px; height: 230px;  float: left;}
.gw-Login .txt{ padding-bottom: 20px;}
.gw-Login h1{font-size: 16px; color: #fba22c; margin-bottom: 20px;}
.gw-Login .btn{width: 90px;height: 25px; float: left;background: url("../../img/login-btn.png"/*tpa=http://sg.chinagames.net/images/login-btn.png*/); text-indent: -9999px;}
.gw-Login .modify:hover{background-position: -90px 0;}
.gw-Login .out{background-position:0 -25px; margin-left: 10px;}
.gw-Login .out:hover{background-position:-90px -25px ;}
.gw-Login .ser{border-top: 1px dashed #3b3735; clear: both; line-height: 24px;}
.gw-Login .btn-ser{margin: 10px; margin-left: 0; overflow:hidden;font-size: 12px;}
.gw-Login h4{clear: both;}
.gw-Login .yx-gdbox a{position: absolute; right:0px;top:0;}
/*轮换图模块*/
.sy-rotation{width: 600px;height: 320px;float: left;}
#main_promo{height:320px; width:600px; margin-left:-300px; position:relative;  top:30;  left:50%; overflow:hidden; z-index:0; }
.promoWD{width:600px; margin:0 auto; position:relative; }
.slide{display:block; float:left;  width:600px;}
#dots{height:13px; position:absolute; bottom:13px; left:20px; z-index:99;}
#dots li{ width:23px; height:13px; float:left; }
#dots li a{ width:10px; display:block; height:10px; background-color:#7f0705; border:1px solid #FFFFFF;}
#dots li.act a{background-color:#000000;}
/*按钮模块*/
.sy-btnbox{ width: 260px;padding-top: 100px;float: left; padding-left: 20px;*padding-left: 10px;}
.sy-btnbox a{display: block;width: 240px;height: 125px;}
.sy-btnbox .start{background-position:0 -100px; }.sy-btnbox .start:hover{background-position:0 -350px; }
.sy-btnbox .down{background-position:0 -225px; }.sy-btnbox .down:hover{background-position:0 -475px; }
/*游戏公告模块  游戏活动模块 游戏攻略模块*/
.sy-notice{width: 460px;height: 300px;float: left; margin-right: 20px;}
.sy-notice dl{ background: url("../../img/xnpic/.jpg") no-repeat;width: 100%; clear: both; padding-top: 10px;}
.sy-notice dl dt {height: 47px;line-height: 46px; font-size: 18px; padding: 0 10px; margin: 0 1px;  background: #231f1e;}
.sy-notice dl dd{ padding: 0 10px;height: 37px;line-height:37px; overflow: hidden;}
.sy-notice dl dd a{ color: #888; -webkit-transition: padding .2s ease;-moz-transition: padding .2s ease;-o-transition: padding .2s ease;transition: padding .2s ease;}
.sy-notice dl dd a:hover{padding-left: 5px;}
.sy-notice dl dd span{float: right;}
.sy-raiders{width: 420px;}
/*礼包模块 美图欣赏模块*/
.sy-package{width: 235px;height: 300px;display: block; float: left; background:url("../../img/libao.png"/*tpa=http://sg.chinagames.net/images/libao.png*/);}
.sy-picture{width: 100%; margin: 10px 0;height: 280px;}
.sy-picture .imgbox{padding-top: 20px; background: #18100e;}
.sy-picture .cycle{width: 290px;float: left;margin-right: 13px;text-align: center;line-height: 42px;}
.sy-picture .cycle img{width: 290px;height: 165px;display: block;}
/*游戏资料模块*/
.sy-data{width: 500px; float: left;height: 300px; margin-right: 20px;}
.sy-data .databox{height: 178px; background:url("../../img/ziliaobg.jpg"/*tpa=http://sg.chinagames.net/images/ziliaobg.jpg*/);padding: 10px 20px; margin-top: 10px;}
.sy-data ul li{padding: 15px 5px; border-bottom: 1px dashed #322011;;height: 25px; }
.sy-data .databox a{display: block;width: 80px;float: left;height: 25px;line-height: 25px; text-align: center;margin:0 15px; color: #322011;  }
.sy-data .databox a:hover{background: #322011; color: #9b6f48; border-radius: 10px;  }
/*游戏客服模块*/
.sy-kefu{width: 240px; float: left;height: 300px;line-height: 32px;}
.sy-kefu .kefubox{height: 230px;background: url("../../img/kefubg.jpg"/*tpa=http://sg.chinagames.net/images/kefubg.jpg*/); clear: both; }
.sy-kefu p{padding: 20px 15px; }
.sy-kefu .box{border-top:1px dashed #6c6b6a; padding: 10px; }
.sy-kefu .box a{ width: 125px;height: 24px;line-height: 24px; display: inline-block; vertical-align: middle; text-align: center; background: #a37963;  border-radius: 5px; color: #000; overflow:hidden; }
.sy-kefu .box a:hover{background: #fe6b35;}