<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<meta name="Keywords" content="水浒历险 - 2017年最原始創新遊戲">
			<meta name="Description" content="水浒历险 - 2017年最具有曾經的味道的遊戲">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>水浒历险 - 2017年最新回歸網遊！</title>
			
			<link href="./index_files/css/bootstrap.min.css" rel="stylesheet" media="screen">
			<link href="./index_files/css/custom.css" rel="stylesheet" media="screen">
			
			<script src="./index_files/js/jquery-1.11.0.min.js"></script>
			<script src="./index_files/js/bootstrap.min.js"></script>	
			
		<head>
  <body>
	<div class="container">